---
import { Icon } from 'astro-icon/components'
import Inner from '@/components/atoms/Inner/Inner.astro'
import type { MarkdownInstance, Page } from 'astro'

interface Props {
  page: Page<MarkdownInstance<Theme.Frontmatter>>
  permalink: string
}
const { page, permalink } = Astro.props
const totalPages = Math.ceil(page.total / page.size)
---

<Inner class="mt-12 text-center">
  <nav class="join" aria-label="Page navigation">
    <a href={`${page.url.prev}/`} class:list={['btn btn-ghost join-item', { 'pointer-events-none': !page.url.prev }]}>
      <Icon name="mdi:keyboard-arrow-left" width={28} height={28} />
    </a>
    {
      Array.from({ length: totalPages }).map((_, index) => {
        const pageNum = index + 1
        const isCurrent = pageNum === page.currentPage
        const pageLink = pageNum === 1 ? `${permalink}/` : `${permalink}/${pageNum}/`

        return (
          <a href={pageLink} class:list={['btn btn-ghost join-item', { 'btn-active pointer-events-none': isCurrent }]}>
            {pageNum}
          </a>
        )
      })
    }
    <a href={`${page.url.next}/`} class:list={['btn btn-ghost join-item', { 'pointer-events-none': !page.url.next }]}>
      <Icon name="mdi:keyboard-arrow-right" width={28} height={28} />
    </a>
  </nav>
</Inner>
