---
import Inner from '@/components/atoms/Inner/Inner.astro'

const { page, permalink } = Astro.props
const totalPages = Math.ceil(page.total / page.size)
---

<Inner class="mt-12 text-center">
  <nav class="join" aria-label="Page navigation">
    <a href={`${page.url.prev}/`} class={`btn btn-ghost join-item ${page.url.prev ? null : 'pointer-events-none'}`}>
      ＜
    </a>
    {
      [...Array(totalPages)].map((_, index) => {
        const pageNum = index + 1
        const isCurrent = pageNum === page.currentPage
        const pageLink = pageNum === 1 ? `${permalink}/` : `${permalink}/${pageNum}/`

        return (
          <a href={pageLink} class={`btn btn-ghost join-item ${isCurrent ? 'btn-active pointer-events-none' : null}`}>
            {pageNum}
          </a>
        )
      })
    }
    <a href={`${page.url.next}/`} class={`btn btn-ghost join-item ${page.url.next ? null : 'pointer-events-none'}`}>
      ＞
    </a>
  </nav>
</Inner>
