---
import PageLayout from '@/layouts/PageLayout.astro'
import Container from '@/components/atoms/Container.astro'
import type { GetStaticPathsOptions } from 'astro'
import Inner from '@/components/atoms/Inner.astro'
import PageNavigation from '@/components/molecules/PageNavigation.astro'

const permalink = '/works'

export const getStaticPaths = async ({ paginate }: GetStaticPathsOptions) => {
  const sites = [
    { name: 'Astroストア', text: 'text', category: 'web', url: 'store' },
    { name: 'Astroグッズ', text: 'text long test text long test text long test text long test', category: 'fashion', url: 'products' },
    { name: '究極のAstroハンドブック', text: 'text', category: 'products', url: 'join' },
    { name: 'Test1', text: 'text', category: 'test', url: 'test1' },
    { name: 'Test2', text: 'text', category: 'test', url: 'test2' },
    { name: 'Test3', text: 'text', category: 'test', url: 'test3' },
    { name: 'Test4', text: 'text', category: 'test', url: 'test4' },
    { name: 'Test5', text: 'text', category: 'test', url: 'test5' },
    { name: 'Test6', text: 'text', category: 'test', url: 'test6' },
    { name: 'Test7', text: 'text', category: 'test', url: 'test7' },
    { name: 'Test8', text: 'text', category: 'test', url: 'test8' },
  ]
  return paginate(sites, { pageSize: 8 })
}
const { page } = Astro.props

const seo: Theme.SEO = {
  title: '制作事例',
  description: '制作事例ページのdescriptionです',
  permalink: page.currentPage == 1 ? ['works'] : ['works', page.currentPage],
  breadcrumb: { works: '制作事例' },
}
---

<PageLayout {seo}>
  <Container>
    <Inner>
      <ul class="grid grid-cols-1 gap-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        {
          page.data.map((site) => (
            <li class="flex">
              <a href={`/works/${site.url}/`} class="card rounded-none bg-base-100 shadow-xl">
                <figure>
                  <img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" alt="Shoes" transition:name={`image-${site.url}`} />
                </figure>
                <div class="card-body">
                  <div class="card-actions">
                    <div class="badge badge-outline">{site.category}</div>
                  </div>
                  <h2 class="card-title" transition:name={`title-${site.url}`}>
                    {site.name}
                  </h2>
                  <p>{site.text}</p>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </Inner>
  </Container>

  <Inner class="text-center">
    <PageNavigation {page} {permalink} />
  </Inner>
</PageLayout>
