---
import BaseForm from '@/components/molecules/BaseForm/BaseForm.astro'
import FormFieldArea from '@/components/molecules/FormFieldArea/FormFieldArea.astro'

const fields = [
  {
    label: { text: '名前', required: true },
    id: 'name',
    type: 'text',
    placeholder: '山田太郎',
    autocomplete: 'name',
    icon: 'mdi:user',
    validations: [{ pattern: /^(?!s*$).+/, text: '名前は必須です' }],
    '@change': '$refs.kana.dispatchEvent(new Event("input"))', // AutoKanaの結果を評価するため
    '@blur': '$refs.kana.dispatchEvent(new Event("input"))', // AutoKanaの結果を評価するため
  },
  {
    label: { text: 'フリガナ', required: true },
    id: 'kana',
    type: 'text',
    placeholder: 'ヤマダタロウ',
    validations: [
      { pattern: /^(?!s*$).+/, text: 'カナは必須です' },
      { pattern: /^[ァ-ヶー]+$/, text: 'カタカナで入力してください' },
    ],
    'x-ref': 'kana', // AutoKanaの結果を評価させるため
  },
  {
    label: { text: 'メールアドレス', required: true },
    id: 'email',
    type: 'email',
    placeholder: 'email@example.com',
    autocomplete: 'email',
    icon: 'mdi:email',
    validations: [
      { pattern: /^(?!s*$).+/, text: 'メールアドレスは必須です' },
      { pattern: /.+@.+..+/, text: 'メールアドレスの形式で入力してください' },
    ],
  },
  {
    label: { text: '問い合わせ内容', required: true },
    id: 'contact',
    type: 'textarea',
    placeholder: 'お問い合わせ内容を入力してください。',
    validations: [{ pattern: /^(?!s*$).+/, text: 'お問い合わせ内容は必須です' }],
  },
  {
    label: null,
    id: 'privacy',
    type: 'checkbox',
    items: ['<a href="/privacy/" class="link" tabindex="-1" target="_blank">プライバシーポリシー</a>に同意する'],
    validations: [
      {
        pattern: 'this.privacy.length',
        text: 'プライバシーポリシーに同意いただく必要があります。',
      },
    ],
  },
]
---

<BaseForm
  {fields}
  steps={['入力', '確認', '完了']}
  hx-post={`${import.meta.env.PUBLIC_API_BASE_URL}/mail/send/`}
  @success="step = 3"
>
  <div x-show="step == 1" id="contact">
    <FormFieldArea {fields} turnstyle={true} />
    <div class="mt-6">
      <button
        type="button"
        class="btn btn-disabled btn-primary w-full"
        x-bind:class="{'btn-disabled': Object.keys(errors).length}"
        x-on:click="if(!Object.keys(errors).length){step = 2}"
      >
        入力内容の確認
      </button>
    </div>
  </div>

  <div x-show="step == 2">
    <FormFieldArea {fields} mode="confirm" />
    <div class="mt-6 grid gap-4 md:grid-cols-2">
      <button
        class="btn btn-disabled btn-accent w-full md:order-2"
        x-bind:class="{'btn-disabled': Object.keys(errors).length}"
        x-on:click="if(!Object.keys(errors).length){ return true }"
      >
        お問い合わせを送信
      </button>
      <button type="button" class="btn btn-ghost w-full md:order-1" x-on:click="step = 1">入力内容の修正</button>
    </div>
  </div>

  <div x-show="step == 3">送信完了</div>
</BaseForm>

<script>
  import * as AutoKana from 'vanilla-autokana'
  document.addEventListener('astro:page-load', () => {
    if (window.location.pathname === '/contact/') {
      AutoKana.bind('#name', '#kana', { katakana: true })
    }
  })
</script>
