---
export const prerender = false
import PageLayout from '@/layouts/PageLayout.astro'

const p: Theme.Page = {
  title: 'スキルセット',
  description: 'スキルセットページのdescriptionです',
  canonical: `${Astro.site}skill/`,
  type: 'article',
  structuredDatas: [
    {
      '@context': 'https://schema.org',
      '@type': 'BreadcrumbList',
      itemListElement: [
        {
          '@type': 'ListItem',
          position: 1,
          name: 'ホーム',
          item: Astro.site,
        },
        {
          '@type': 'ListItem',
          position: 2,
          name: 'スキルセット',
        },
      ],
    },
  ],
}
---

<PageLayout {p}>
  <button class="login">login</button>
  <button class="getUsers">getUsers</button>
  <button class="logout">logout</button>
  <div id="user-data" class="user-data"></div>
</PageLayout>

<script>
  document.querySelector('button.logout').onclick = () => logout(1)
  document.querySelector('button.login').onclick = () => login('user1', 'password')
  document.querySelector('button.getUsers').onclick = () => getUsers()

  window.addEventListener('load', getUsers)

  async function logout(id: number) {
    const res = await fetch(`${import.meta.env.PUBLIC_API}/auth/logout/${id}`, {
      method: 'DELETE',
      credentials: 'include',
    })

    if (!res.ok) {
      const errorData = await res.json()
      throw new Error(errorData.message)
    }

    console.log('Logout successful!')
  }

  async function login(name: string, password: string) {
    const res = await fetch(`${import.meta.env.PUBLIC_API}/auth/login`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ name, password }),
      credentials: 'include',
    })

    if (!res.ok) {
      const errorData = await res.json()
      throw new Error(errorData.message)
    }

    console.log('Login successful!')
  }

  async function getUsers() {
    const res = await fetch(`${import.meta.env.PUBLIC_API}/user`, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
      },
      credentials: 'include',
    })
    const data = await res.json()
    console.log(data)

    displayUserData(data)
  }

  function displayUserData(users) {
    const userDataDiv = document.getElementById('user-data')
    userDataDiv.innerHTML = '' // 以前のデータをクリア

    users.forEach((user) => {
      const userDiv = document.createElement('div')
      userDiv.className = 'user'

      const userName = document.createElement('h2')
      userName.textContent = user.name

      userDiv.appendChild(userName)

      userDataDiv.appendChild(userDiv)
    })
  }
</script>
