---
import ButtonLoginOrProfile from '@/components/molecules/ButtonLoginOrProfile.astro'
import ButtonThemeToggle from '@/components/molecules/ButtonThemeToggle.astro'
import Container from '@/components/atoms/Container.astro'
import Icon from '@/components/atoms/Icon.astro'
import Inner from '@/components/atoms/Inner.astro'
import HambMenu from '@/components/molecules/HambMenu.astro'
// import Logo from '@/assets/images/common/logo.svg?raw'

const currentPath = Astro.url.pathname
export const links: Theme.Link[] = [
  {
    title: '自己紹介',
    icon: 'icon-identification',
    permalink: '/profile/',
  },
  {
    title: 'スキルセット',
    icon: 'icon-code-bracket',
    permalink: '/skill/',
  },
  {
    title: '制作事例',
    icon: 'icon-window',
    permalink: '/works/',
  },
  {
    title: 'お問い合わせ',
    icon: 'icon-envelope',
    permalink: '/contact/',
  },
]

export const add = (...args: number[]) => {
  return args.reduce((a, b) => a + b, 0)
}
---

<header>
  <Container class="py-4 md:py-4">
    <Inner size="wide">
      <nav class="flex">
        <div class="flex-1">
          <!-- <a href="/" aria-current={currentPath === '/' ? 'page' : undefined}>
            <Fragment set:html={Logo} />
            <svg width="140" height="60">
              <use href="#logo-text" class="fill-black dark:fill-white"></use>
              <use href="#logo-firefly"></use>
            </svg>
          </a> -->
        </div>

        <div class="hidden flex-none md:inline-flex">
          <ul class="menu menu-horizontal">
            {
              links.map((link: Theme.Link) => (
                <li>
                  <a href={link.permalink} class={`btn btn-ghost ${currentPath.startsWith(link.permalink) ? 'theme-current-page' : ''}`}>
                    <Icon name={link.icon} class="hidden lg:block" />
                    {link.title}
                  </a>
                </li>
              ))
            }
            <li><ButtonLoginOrProfile class={currentPath.startsWith('/user/') || (currentPath.startsWith('/login/') ? 'theme-current-page' : '')} /></li>
            <li><ButtonThemeToggle /></li>
          </ul>
        </div>
        <div class="flex-none md:hidden">
          <HambMenu {links} />
        </div>
      </nav>
    </Inner>
  </Container>
</header>
