---
import * as utils from '@/utils'
import Container from '@/components/atoms/Container/Container.astro'
import { getSiteDataAll } from '@/constants/siteDatas'

const siteData = getSiteDataAll()
const normalizeTelNumber = utils.normalizeTelNumber(siteData.tel)
---

<footer class="mt-auto">
  <Container class="max-w-artboard py-4 md:py-8">
    <address>
      {siteData.postalCode}{siteData.address}<a href=`tel:${normalizeTelNumber}`>{siteData.tel}</a>
    </address>
    <small class="block text-center">{siteData.copy}</small>
  </Container>
</footer>
