---
const { href, class: addClasses = '', center, ...rest } = Astro.props
let baseClasses =
  'shadow-l flex min-h-12 min-w-12 transition-all hover:text-primary'
let optionClasses = ''

if (center != false) {
  optionClasses += ' items-center justify-center'
}

const classes = `${baseClasses} ${optionClasses} ${addClasses}`
---

{
  href ? (
    <a {href} class={classes} {...rest}>
      <slot />
    </a>
  ) : (
    <button class={classes} {...rest}>
      <slot />
    </button>
  )
}
