---
import { Icon } from 'astro-icon/components'

const { seo, prev, next } = Astro.props
const parent = seo.permalink![0]
const gridStyle = prev && next ? 'grid-rows-3' : !prev && !next ? 'grid-rows-1' : 'grid-rows-2'
---

<nav class={`${gridStyle} grid grid-flow-col grid-cols-1 gap-y-4 md:grid-cols-2 md:grid-rows-2 lg:grid-cols-3 lg:grid-rows-1`}>
  {
    prev && (
      <a href={`/${parent}/${prev.frontmatter.slug}`} class="btn btn-neutral btn-md w-fit gap-2 pl-2 lg:gap-3">
        <Icon name="mdi:keyboard-arrow-left" width={28} height={28} />
        <div class="flex flex-col items-start">
          <span class="theme-text-xs font-normal">前へ</span>
          <span>{prev.frontmatter.title}</span>
        </div>
      </a>
    )
  }
  {
    next && (
      <a href={`/${parent}/${next.frontmatter.slug}`} class={`btn btn-neutral btn-md ml-auto w-fit gap-2 pr-2 md:col-start-2 md:row-start-1 lg:col-start-3 lg:gap-3`}>
        <div class="flex flex-col items-end">
          <span class="theme-text-xs font-normal">次へ</span>
          <span>{next.frontmatter.title}</span>
        </div>
        <Icon name="mdi:keyboard-arrow-right" width={28} height={28} />
      </a>
    )
  }
  <a href={`/${parent}/`} class={`btn btn-ghost col-span-2 mx-auto w-fit md:row-start-2 lg:col-span-1 lg:col-start-2 lg:row-start-1`}>
    {seo.breadcrumb![parent]}一覧へ戻る
  </a>
</nav>
