---
import Inner from '@/components/atoms/Inner.astro'

interface Props {
  seo: Theme.SEO
}
const { seo } = Astro.props

let itemListElement: any
if (seo.breadcrumb) {
  itemListElement = [
    {
      name: 'ホーム',
      item: '/',
    },
  ]
  let path = ''

  Object.keys(seo.breadcrumb).forEach((key) => {
    path += `${key}/`
    itemListElement.push({
      name: seo.breadcrumb![key],
      item: `/${path}`,
    })
  })
}
---

<Inner size="full md:base" class="theme-text-sm breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    {
      itemListElement.map((link: any, index: number) => {
        const isLastItem = index === itemListElement.length - 1
        if (isLastItem) {
          return (
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href={link.item} itemprop="item" area-current="page">
                <span itemprop="name">{link.name}</span>
                <meta itemprop="position" content={`${index + 1}`} />
              </a>
            </li>
          )
        } else {
          return (
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href={link.item} itemprop="item">
                <span itemprop="name">{link.name}</span>
                <meta itemprop="position" content={`${index + 1}`} />
              </a>
            </li>
          )
        }
      })
    }
  </ol>
</Inner>
