---
import Inner from '@/components/atoms/Inner.astro'

interface Props {
  seo: Theme.SEO
}
const { seo } = Astro.props

let itemListElement: any
if (seo.breadcrumb) {
  itemListElement = [
    {
      name: 'ホーム',
      item: '/',
    },
  ]
  let path = ''

  Object.keys(seo.breadcrumb).forEach((key) => {
    path += `${key}/`
    itemListElement.push({
      name: seo.breadcrumb![key],
      item: `/${path}`,
    })
  })
}
---

<Inner size="full md:base" class="theme-text-sm breadcrumbs">
  <ol>
    {
      itemListElement.map((link: any, index: number) => {
        const isLastItem = index === itemListElement.length - 1
        if (isLastItem) {
          return (
            <li itemscope itemtype="http://schema.org/ListItem" itemprop="itemListElement" itemprop="item" area-current="page">
              {link.name}
              <meta itemprop="position" content={`${index + 1}`} />
            </li>
          )
        } else {
          return (
            <li itemscope itemtype="http://schema.org/ListItem" itemprop="itemListElement" itemprop="item">
              <a href={link.item}>{link.name}</a>
              <meta itemprop="position" content={`${index + 1}`} />
            </li>
          )
        }
      })
    }
  </ol>
</Inner>
