---
import { Image } from 'astro:assets'
import slide1 from '@/assets/images/test/ged038.jpg'
import slide2 from '@/assets/images/test/ged039.jpg'
import slide3 from '@/assets/images/test/ged040.jpg'
import slide4 from '@/assets/images/test/ged041.jpg'
import slide5 from '@/assets/images/test/ged042.jpg'
import slide6 from '@/assets/images/test/ged043.jpg'
import slide7 from '@/assets/images/test/ged044.jpg'
import slide8 from '@/assets/images/test/ged045.jpg'
import slide9 from '@/assets/images/test/ged046.jpg'
import slide10 from '@/assets/images/test/ged047.jpg'
---

<div class="splide">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide"><Image src={slide1} alt="" /></li>
      <li class="splide__slide"><Image src={slide2} alt="" /></li>
      <li class="splide__slide"><Image src={slide3} alt="" /></li>
      <li class="splide__slide"><Image src={slide4} alt="" /></li>
      <li class="splide__slide"><Image src={slide5} alt="" /></li>
      <li class="splide__slide"><Image src={slide6} alt="" /></li>
      <li class="splide__slide"><Image src={slide7} alt="" /></li>
      <li class="splide__slide"><Image src={slide8} alt="" /></li>
      <li class="splide__slide"><Image src={slide9} alt="" /></li>
      <li class="splide__slide"><Image src={slide10} alt="" /></li>
    </ul>
  </div>

  <!-- <div class="splide__progress">
    <div class="splide__progress__bar"></div>
  </div> -->

  <button class="splide__toggle" type="button">
    <span class="splide__toggle__play">Play</span>
    <span class="splide__toggle__pause">Pause</span>
  </button>
</div>

<style>
  .splide__track {
    overflow: visible;
  }
</style>

<script is:inline>
  import '@splidejs/splide/css'
  import { Splide } from '@splidejs/splide'
  import { Intersection } from '@splidejs/splide-extension-intersection'

  document.addEventListener('astro:page-load', function () {
    new Splide('.splide', {
      autoplay: 'pause',
      breakpoints: {
        640: {
          perPage: 2,
        },
      },
      intersection: {
        inView: {
          autoplay: true,
        },
        outView: {
          autoplay: false,
        },
      },
      focus: 'center',
      gap: '1.5rem',
      perPage: 3,
      resetProgress: false,
      type: 'loop',
      waitForTransition: true,
      wheel: true,
    }).mount({ Intersection })
  })
</script>
