---
import ButtonLoginOrProfile from '@/components/molecules/ButtonLoginOrProfile.astro'
import ButtonThemeToggle from '@/components/molecules/ButtonThemeToggle.astro'
import Container from '@/components/atoms/Container.astro'
import Icon from '@/components/atoms/Icon.astro'
import Inner from '@/components/atoms/Inner.astro'
import HambMenu from '@/components/molecules/HambMenu.astro'
import Logo from '@/assets/images/common/logo.svg?raw'

const currentPath = Astro.url.pathname
const menues: Theme.Menu[] = [
  {
    title: '自己紹介',
    icon: 'icon-identification',
    permalink: '/profile/',
  },
  {
    title: 'スキルセット',
    icon: 'icon-code-bracket',
    permalink: '/skill/',
  },
  {
    title: '制作事例',
    icon: 'icon-window',
    permalink: '/works/',
  },
  {
    title: 'お問い合わせ',
    icon: 'icon-envelope',
    permalink: '/contact/',
  },
]
---

<header>
  <Container class="py-4 md:py-4">
    <Inner size="wide">
      <nav class="flex">
        <div class="flex-1">
          <a href="/" aria-current={currentPath === '/' ? 'page' : undefined}>
            <!-- <Fragment set:html={Logo} />
            <svg width="140" height="60">
              <use href="#logo-text" class="fill-black dark:fill-white"></use>
              <use href="#logo-firefly"></use>
            </svg> -->
          </a>
        </div>

        <div class="hidden flex-none md:inline-flex">
          <ul class="menu menu-horizontal">
            {
              menues.map((menu: Theme.Menu) => (
                <li>
                  <a href={menu.permalink} class={`btn btn-ghost ${currentPath.startsWith(menu.permalink) ? 'theme-current-page' : undefined}`}>
                    <Icon name={menu.icon} class="hidden lg:block" />
                    {menu.title}
                  </a>
                </li>
              ))
            }
            <li><ButtonLoginOrProfile class={currentPath.startsWith('/user/') || currentPath.startsWith('/login/') ? 'theme-current-page' : null} /></li>
            <li><ButtonThemeToggle /></li>
          </ul>
        </div>
        <div class="flex-none md:hidden">
          <HambMenu {menues} />
        </div>
      </nav>
    </Inner>
  </Container>
</header>
