---
import { utils } from '@/utils'
import { Image } from 'astro:assets'
import Inner from '@/components/atoms/Inner/Inner.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import Header from '@/components/organisms/Header/Header.astro'
import Footer from '@/components/organisms/Footer/Footer.astro'
import Breadcrumb from '@/components/molecules/Breadcrumb/Breadcrumb.astro'
import ArticleNavigation from '@/components/molecules/ArticleNavigation/ArticleNavigation.astro'
import type { MarkdownInstance } from 'astro'

interface Props {
  seo: Theme.SEO
  frontmatter: Theme.Frontmatter
  prev: MarkdownInstance<Theme.Frontmatter> | null
  next: MarkdownInstance<Theme.Frontmatter> | null
}
const { seo, frontmatter, prev, next } = Astro.props
---

<BaseLayout {seo}>
  <Header />
  {seo.breadcrumb && <Breadcrumb {seo} />}
  <main class="mb-12">
    <article class="mb-12" itemtype="http://schema.org/Article" itemscope>
      <Inner class="relative py-12">
        <time datetime={frontmatter.date} class="theme-text-sm absolute top-6 right-0" itemprop="datePublished">
          {utils.formatDate(frontmatter.date)}
        </time>

        <h1 class="theme-text-xl mb-8 font-bold" itemprop="headline">{seo.title}</h1>
        <p set:html={seo.description} itemprop="description" />
      </Inner>

      <Inner class="prose max-w-screen-xl" itemprop="articleBody">
        <Image
          src={utils.getAssetsImage(frontmatter.image.src)}
          alt={frontmatter.image.alt}
          loading="eager"
          transition:name={`image-${frontmatter.slug}`}
          itemprop="image"
        />
        <slot />
      </Inner>
    </article>

    <ArticleNavigation {seo} {prev} {next} />
  </main>
  <Footer />
</BaseLayout>
