---
import { utils } from '@/utils'
import { Image } from 'astro:assets'
import Inner from '@/components/atoms/Inner/Inner.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import Header from '@/components/organisms/Header/Header.astro'
import Footer from '@/components/organisms/Footer/Footer.astro'
import Breadcrumb from '@/components/molecules/Breadcrumb/Breadcrumb.astro'
import ArticleNavigation from '@/components/molecules/ArticleNavigation/ArticleNavigation.astro'
import type { MarkdownInstance } from 'astro'

interface Props {
  seo: Theme.SEO
  frontmatter: Theme.Frontmatter
  prev: MarkdownInstance<Theme.Frontmatter> | null
  next: MarkdownInstance<Theme.Frontmatter> | null
}
const { seo, frontmatter, prev, next } = Astro.props
---

<BaseLayout {seo} {frontmatter}>
  <Header />
  {seo.breadcrumb && <Breadcrumb {seo} />}
  <main class="mb-12">
    <article class="mb-12" itemtype="http://schema.org/Article" itemscope>
      <Inner class="relative py-12">
        <time datetime=`${frontmatter.date}T00:00:00+09:00` class="theme-text-sm absolute right-0 top-6" itemprop="datePublished">
          {utils.formatDate(frontmatter.date)}
        </time>

        <h1 class="theme-text-xl mb-8 font-bold" itemprop="headline">{seo.title}</h1>
        <p set:html={seo.description} itemprop="description" />
      </Inner>

      <Inner class="prose max-w-screen-xl" itemprop="articleBody">
        <Image
          src={utils.getAssetsImage(frontmatter.image.src)}
          alt={frontmatter.image.alt}
          loading="eager"
          transition:name={`image-${frontmatter.slug}`}
          itemprop="image"
        />
        <slot />
      </Inner>

      <Inner>
        <a href={Astro.site} class="ml-auto" itemprop="author" itemtype="https://schema.org/Organization" itemscope>
          <meta itemprop="url" content={Astro.site} />
          <span itemprop="name">{import.meta.env.PUBLIC_SITE_NAME}</span>
        </a>
      </Inner>
    </article>

    <ArticleNavigation {seo} {prev} {next} />
  </main>
  <Footer />
</BaseLayout>
