---
import { utils } from '@/utils'
import { Image } from 'astro:assets'
import Inner from '@/components/atoms/Inner.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import Header from '@/components/organisms/Header.astro'
import Footer from '@/components/organisms/Footer.astro'
import Container from '@/components/atoms/Container.astro'
import Breadcrumb from '@/components/molecules/Breadcrumb.astro'

interface Props {
  seo: Theme.SEO
  frontmatter: Theme.Frontmatter
}
const { seo, frontmatter } = Astro.props
---

<BaseLayout {seo}>
  <Header />
  <main>
    <Container size="tall" class="h-56">
      <Inner class="relative">
        <h1 class="theme-text-xl font-bold">{seo.title}</h1>
        <p class="mt-4">{seo.description}</p>
        <time datetime={frontmatter.date} class="theme-text-sm absolute right-0 top-0">{utils.formatDate(frontmatter.date)}</time>
      </Inner>
    </Container>

    {seo.breadcrumb && <Breadcrumb {seo} />}

    <Container>
      <Inner>
        <article class="prose max-w-screen-xl">
          <Image src={utils.getAssetsImage(frontmatter.image.src)} alt={frontmatter.image.alt} transition:name={`image-${frontmatter.slug}`} />
          <slot />
        </article>
      </Inner>
    </Container>
  </main>
  <Footer />
</BaseLayout>
