---
import { utils } from '@/utils'
import { Image } from 'astro:assets'
import Inner from '@/components/atoms/Inner.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import Header from '@/components/organisms/Header/Header.astro'
import Footer from '@/components/organisms/Footer.astro'
import Container from '@/components/atoms/Container.astro'
import Breadcrumb from '@/components/molecules/Breadcrumb.astro'
import ArticleNavigation from '@/components/molecules/ArticleNavigation.astro'
import type { MarkdownInstance } from 'astro'

interface Props {
  seo: Theme.SEO
  frontmatter: Theme.Frontmatter
  prev: MarkdownInstance<Theme.Frontmatter> | null
  next: MarkdownInstance<Theme.Frontmatter> | null
}
const { seo, frontmatter, prev, next } = Astro.props
---

<BaseLayout {seo}>
  <Header />
  <main>
    {seo.breadcrumb && <Breadcrumb {seo} />}

    <article itemscope itemtype="https://schema.org/Article">
      <Container size="short">
        <Inner class="relative">
          <time datetime={frontmatter.date} class="theme-text-sm absolute -top-6 right-0" itemprop="datePublished">
            {utils.formatDate(frontmatter.date)}
          </time>

          <h1 class="theme-text-xl mb-8 font-bold" itemprop="headline">{seo.title}</h1>
          <p set:html={seo.description} itemprop="description" />
        </Inner>
      </Container>

      <Inner class="prose max-w-screen-xl" itemprop="articleBody">
        <Image
          src={utils.getAssetsImage(frontmatter.image.src)}
          alt={frontmatter.image.alt}
          transition:name={`image-${frontmatter.slug}`}
          itemprop="image"
        />
        <slot />
      </Inner>
    </article>

    <Container>
      <Inner>
        <ArticleNavigation {seo} {prev} {next} />
      </Inner>
    </Container>
  </main>
  <Footer />
</BaseLayout>
